$icon-font-path: '../fonts/';
$dominant: #001a4d;
$text-color: #d3d3d3;
$item-bg: #a9a9a9;
$bg-image-path: '../images/universe.jpg';
$icon: '../images/planet-icon.png';
$body-font-path: '../fonts/FiraSans/FiraSans-Regular.otf';
$bg-jumbotron-path: '../images/space-dog.jpg';


// @include font-face(FiraSans-Medium, $body-font-path);
@font-face{
  font-family: FiraSans;
  src: url($body-font-path);
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dominant;
  font-family: FiraSans ,Helvetica, sans-serif;
  color: $text-color;
  background: $item-bg url($bg-image-path) no-repeat;
  background-attachment: fixed;
}

// Make the input fields take the whole space
input[type="text"], .choice-list-container  {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     padding: 10px 20px 10px 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.contact,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  div {
  margin: auto;
  width: 80%;
  text-align: center;
  }

  .icon img {
    padding-right: 10px;
    display: inline-block;
    padding-bottom: 20px;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  color: #291512;
  text-align: center;
  margin-bottom: none;
  background: #C9B6B3 url($bg-jumbotron-path) no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .choice-field {
    padding-bottom: 10px;
  }
  .action-button {
    width: 50%;
    span {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .btn {
    font-size: 21px;
    margin: 20px;
  }
}

/* Supporting marketing content */
.marketing, .contact {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
    max-width: 900px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .contact,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


}
